* {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* SHARED styles */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
    background-color: #ffb491af;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* MAIN FILE styles */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#home-title {
    position: relative;
    letter-spacing: 3px;
    color: #ffc5aa;
    text-shadow: 0 0 12px #722a09e3;
    background-color: #722a0998;
    font-size: 80px;
    text-align: center;
    border-bottom: solid 3px #722a09e3;
    padding: 42px 0;
    margin-bottom: 8rem;
}

#home-ul {
    position: relative;
    list-style: none;
    font-size: 24px;
    margin: 0 10%;
    top: 50;
    transform: translateY(50%);
}

.home-li {
    font-size: 36px;
    padding: 24px;
    letter-spacing: 4px;
    font-weight: 700;
}

.home-li:nth-child(2) {
    text-align: center;
}

.home-li:last-child {
    text-align: end;
}

a, a:hover, a:visited, a:active {
    color: #722a09e3;
    text-decoration: none;
}

a {
    transition: .3s;
}

a:hover {
    font-size: 48px;
    color: #ffc5aa;
    text-shadow: 0 0 12px #571b00, 0 0 12px #571b00, 0 0 12px #571b00;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* SECONDARY FILE styles */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.recipe-title {
    text-align: center;
    font-size: 48px;
    margin: 56px 0;
    letter-spacing: 5px;
    color: rgb(158, 93, 62);
    text-shadow: 0 0 12px #ffffff, 0 0 12px #ffffff;
}

.recipe-img {
    margin: 48px 50%;
    width: 500px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 24px #571c00c5, 0 0 36px #571c00c5;
    transform: translateX(-50%);
}

.tertiary {
    margin-left: 5%;
    font-size: 44px;
    margin-top: 36px;
    margin-bottom: 20px;
    color:#6e2807c5;
}

.description, .li {
    color: #92350aab;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
}

.description {
    margin-left: 6%;
}

.li {
    padding-bottom: 12px;
}

.ingredient-list, .step-list {
    margin-left: 8%;
    list-style: circle;
}

.step-list {
    margin-bottom: 5%;
}