* {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* SHARED styles */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
    background-color: #ffb491af;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* MAIN FILE styles */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#home-title {
    position: relative;
    letter-spacing: 3px;
    color: #ffc5aa;
    text-shadow: 0 0 12px #722a09e3;
    background-color: #722a0998;
    font-size: 80px;
    text-align: center;
    border-bottom: solid 3px #722a09e3;
    padding: 42px 0;
    margin-bottom: 8rem;
}

#home-ul {
    position: relative;
    list-style: none;
    font-size: 24px;
    margin: 0 10%;
    top: 50;
    transform: translateY(50%);
}

.home-li {
    font-size: 36px;
    padding: 24px;
    letter-spacing: 4px;
    font-weight: 700;
}

.home-li:nth-child(2) {
    text-align: center;
}

.home-li:last-child {
    text-align: end;
}

a, a:hover, a:visited, a:active {
    color: #722a09e3;
    text-decoration: none;
}

a {
    transition: .3s;
}

a:hover {
    font-size: 48px;
    color: #ffc5aa;
    text-shadow: 0 0 12px #571b00, 0 0 12px #571b00, 0 0 12px #571b00;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* SECONDARY FILE styles */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.recipe-title {

}

.tertiary {

}

.ingredient-list {

}

.step-list {

}

.li {
    
}